{%  extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Delete Post" %} | {% endblock%}

{% block layout %}
<div class="md:flex items-center justify-center m-8">
    <div class="w-full md:max-w-sm mr-6 md:[&>*>*>p]:text-4xl">
        {% include 'partials/posts/post.html' %}
    </div>
    <div x-data="{ isSaving : false }">
        <h1 class="post-title font-bold text-4xl">{% trans "Delete Post" %}</h1>
        <p class="mb-6" mb-6>{% trans "Are you sure you want to delete this post?" %}</p>

        <form method='POST' action="{% url 'delete_post' post.id %}" @submit="isSaving = true">
            {% csrf_token %}
            <button type="submit" x-show="!isSaving" class="btn-primary">
                <span >{% trans "Confirm" %}</span>
            </button>
            <button type="submit" x-show="isSaving" class="btn-disable" disabled>
                <span x-show="isSaving">{% trans "Deleting ..." %}</span>
            </button>
            <a class="btn-secondary ml-3" href="{% url 'home' %}">{% trans "Go Back" %}</a>
        </form>
    </div>
</div>
{% endblock %}