{% extends 'layouts/a.html' %}
{% load static %}

{% block content %}
    {% include 'partials/posts/post.html' %}

    {% if request.user.is_authenticated %}
        <div class="sidebar-card !p-2 mb-8">
            <form class="comment-input-container"
                  autocomplete="off"
                  hx-post="{% url 'add_comment' post.pk %}"
                  hx-target="#comment-container"
                  hx-swap="afterbegin"
                  hx-on::after-request="this.reset()">
                {% csrf_token %}

                <img w-8 h-8 rd-full object-cover ml-2
                     src="{% if request.user.profile.avatar %}{{ request.user.profile.avatar.url }}{% else %}{% static 'images/avatar_default.svg' %}{% endif %}">

                <input type="text" name="text"
                       class="input-main"
                       placeholder="Write a comment..." maxlength="150">

                <button type="submit"
                        class="btn-normal">
                    Post
                </button>
            </form>
        </div>
    {% endif %}

    <div class="mb-20 px-2">
        <div id="tabs" class="flex gap-2 mb-6"
             hx-target="#comment-container"
             hx-swap="innerHTML transition:true"
             hx-push-url="true"
             _="on htmx:afterOnLoad take .tab-selected for event.target">

            <a class="tab-btn tab-selected" hx-get="{% url 'post_detail' post.id %}">
                Newest
            </a>
            <a class="tab-btn" hx-get="{% url 'post_detail' post.id %}?top">
                Top Rated
            </a>
        </div>

        <div id="comment-container" class="space-y-4">
            {% include "partials/posts/comments_container.html" %}
        </div>
    </div>
{% endblock %}