{% extends 'layouts/a.html' %}

{% load static %}

{% block content %}
    {% include 'posts/post.html' %}

    <div class="card !pb-0 -mt-3">
        <form method="POST" class="replyform flex items-center gap-2 bg-gray-50 p-2 rounded-xl border border-gray-100 focus-within:border-violet-200 focus-within:bg-white transition-all" autocomplete="off" action="{% url 'add_comment' post.pk %}">
            {% csrf_token %}
            <input type="text" name="text" class="flex-1 bg-transparent border-none focus:ring-0 text-sm placeholder:text-gray-400" placeholder="Add comment ..." maxlength="150">
            <button @click="open = false" class="bg-violet-600 hover:bg-violet-700 text-white px-4 py-1.5 rounded-xl font-bold transition-all text-sm" type="submit">Add Comment</button>
        </form>
    </div>

    <div class="mb-20" x-data="{ activeTab: 'newest' }">
        <div id="tabs" class="ml-4 flex gap-2 mb-4" >
            <a class="tab" :class="{selected : activeTab === 'newest'}"  @click="activeTab = 'newest' ">Newest First</a>
            <a class="tab" :class="{selected : activeTab === 'topComments'}" @click="activeTab = 'topComments'">Top Comments</a>
        </div>

        <div class="tab-contents max-w-sm md:max-w-xl" x-show="activeTab === 'newest'" x-transition>
            {% for comment in post.approved_comments_list %}
                {% include 'posts/comment.html' %}
            {% endfor %}

        </div>

        <div class="tab-contents" x-show="activeTab === 'topComments'" x-transition>
            {% for comment in post.top_comments %}
                {% include 'posts/comment.html' %}
            {% endfor %}
        </div>
    </div>

{% endblock %}