{% extends 'layouts/a.html' %}

{% load static %}

{% block content %}
    {% include 'partials/posts/post.html' %}
    {% if request.user.is_authenticated %}
        <div class="card !pb-0 -mt-3">
            <form method="POST" class="replyform flex items-center gap-2 bg-gray-50 p-2 rounded-xl border border-gray-100 focus-within:border-violet-200 focus-within:bg-white transition-all" autocomplete="off" action="{% url 'add_comment' post.pk %}">
                {% csrf_token %}
                <input type="text" name="text" class="flex-1 bg-transparent border-none focus:ring-0 text-sm placeholder:text-gray-400" placeholder="Add comment ..." maxlength="150">
                <button @click="open = false" class="bg-violet-600 hover:bg-violet-700 text-white px-4 py-1.5 rounded-xl font-bold transition-all text-sm" type="submit">Add Comment</button>
            </form>
        </div>
    {% endif %}

    <div class="mb-20">
        <div id="tabs transition-all duration-300" class="ml-4 flex gap-2 mb-4" hx-target="#comment-container" hx-swap="innerHTML transition:true"
             x-data="{ activeTab: '{% if 'top' in request.GET %}top{% else %}newest{% endif %}' }">
            <a class="tab" hx-get="{% url 'post_detail' post.id %}"
               @click="activeTab = 'newest'"
               :class="{selected : activeTab === 'newest'}">
                    Newest First
            </a>
            <a class="tab transition-all duration-300" hx-get="{% url 'post_detail' post.id %}?top"
               @click="activeTab = 'top'"
               :class="{selected : activeTab === 'top'}">
                    Top Comments
            </a>
        </div>

        <div id="comment-container" class="tab-contents">
            {% include "partials/posts/comments_container.html" %}
        </div>
    </div>

{% endblock %}