{% load i18n %}

<a href="{% url 'about' %}"
   class="flex items-center gap-2 py-2 mt-1 text-white hover:text-violet-600 rounded-lg transition-all duration-200 group relative">
    <svg xmlns="http://www.w3.org/2000/svg"
         class="w-6 h-6 transition-transform group-hover:scale-110"
         fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.8"
              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
</a>