<a href="{% url 'logout' %}"
   class="flex items-center gap-2 px-3 py-2 text-white hover:text-violet-600  rounded-lg transition-all duration-200 group relative">

    <div class="relative">
        <svg xmlns="http://www.w3.org/2000/svg"
             class="w-6 h-6 transition-transform group-hover:translate-x-1"
             fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.8"
                  d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
        </svg>
    </div>

    <span class="hidden md:block font-medium text-sm">Log out</span>

</a>