{% load i18n %}
<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit" class="flex items-center gap-2 px-3 py-2 text-white bg-transparent hover:text-violet-600  rounded-lg transition-all duration-200 group relative border-none cursor-pointer">

        <div class="relative">
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="w-6 h-6 mt-2 transition-transform group-hover:translate-x-1"
                 fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.8"
                      d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
            </svg>
        </div>

        <span class="font-medium text-sm">{% trans "Log out" %}</span>

    </button>
</form>