{% load static %}

<header class="h-24 bg-white/70 backdrop-blur-2xl b-b-1 b-slate-200/40 flex items-center justify-between px-6 md:px-10 shrink-0 z-30 sticky top-0">
    <div class="flex items-center gap-5">
        <div class="w-14 h-14 p-2 bg-gradient-to-br from-indigo-500 via-indigo-600 to-violet-700 rd-2xl flex-center shadow-xl shadow-indigo-200/50 group transition-all hover:rotate-3">
            <img src="{% if other_user %}{{ other_user.profile.avatar_url }}{% else %}{% static 'images/fireheart_white.svg' %}{% endif %}"
                 alt="avatar logo" class="w-full h-full rd-2xl">
        </div>

        <div class="space-y-0.5">
            <h1 class="font-900 text-slate-900 text-xl tracking-tight flex items-center gap-2">
                <span class="text-indigo-600 opacity-50">#</span>
                {% if other_user %}
                    {{ other_user.username }}
                {% else %}
                    {{ chat_group.group_name }}
                {% endif %}
            </h1>
            <div id="online-count" class="flex items-center gap-2 bg-emerald-50 px-2 py-0.5 rd-lg w-fit">
                <span class="relative flex h-2.5 w-2.5">
                    <span class="relative inline-flex rd-full h-2 w-2 bg-slate-300"></span>
                </span>
            </div>
        </div>
    </div>

    <div class="flex items-center gap-6">
        <button class="w-10 h-10 rd-xl b-1 b-slate-200 flex-center text-slate-400 hover:bg-slate-50 hover:text-indigo-600 transition-all active:scale-90">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
            </svg>
        </button>
    </div>
</header>