{% load i18n %}

<div class="chat-message" x-data="{ decrypted: false }" x-init="setTimeout(() => decrypted = true, 1500)">
    {% if message.author == user %}
        <div class="flex gap-4 flex-row-reverse group">
            <div class="w-10 h-10 rd-2xl bg-indigo-600 flex-center text-white font-900 shadow-lg shadow-indigo-200 mt-1 shrink-0">
                {% trans "ME" %}
            </div>
            <div class="space-y-1 text-right">
                <div class="flex items-center gap-2 justify-end mr-1">
                    <span class="text-[9px] text-slate-300 font-700">{{message.created_at|timesince}} {% trans "ago" %}</span>
                    <span class="text-xs font-900 text-indigo-600">{% trans "You" %}</span>
                </div>
                <div x-show="!decrypted" class="opacity-50 italic text-[10px] flex flex-col gap-2">
                    <p class="truncate">{{ message.text|truncatechars:20 }}</p>

                    <div class="w-full bg-slate-200 rd-full h-1 overflow-hidden">
                        <div class="bg-primary h-full progress-animation"></div>
                    </div>
                    <span class="text-[9px] uppercase tracking-tighter">Encrypting...</span>
                </div>
                <div x-show="decrypted"
                     x-transition:enter="transition ease-out duration-400"
                     x-transition:enter-start="opacity-0 transform translate-y-4 scale-95"
                     x-transition:enter-end="opacity-100 transform translate-y-0 scale-100"
                     class="bg-indigo-600 p-5 rd-3xl rd-tr-none shadow-xl shadow-indigo-100 text-white text-sm leading-relaxed text-left">
                    {% load chat_tags %}
                    {{  message.text|decrypt_chat_message }}
                </div>
            </div>
        </div>
    {% else %}
        <div class="flex gap-4 group">
            <img src="{{ message.author.profile.avatar_url }}" class="w-10 h-10 rd-2xl object-cover shadow-md mt-1 shrink-0">
            <div class="space-y-1">
                <div class="flex items-center gap-2 ml-1">
                    <span class="text-xs font-900 text-slate-800">{{ message.author.profile.realname }}</span>
                    <span class="text-[9px] text-slate-300 font-700">{{message.created_at|timesince}} {% trans "ago" %}</span>
                </div>
                <div x-show="!decrypted" class="opacity-50 italic text-[10px] flex flex-col gap-2">
                    <p class="truncate">{{ message.text|truncatechars:20 }}</p>

                    <div class="w-full bg-slate-200 rd-full h-1 overflow-hidden">
                        <div class="bg-primary h-full progress-animation"></div>
                    </div>
                    <span class="text-[9px] uppercase tracking-tighter">Decrypting...</span>
                </div>
                <div x-show="decrypted"
                     x-transition:enter="transition ease-out duration-400"
                     x-transition:enter-start="opacity-0 transform translate-y-4 scale-95"
                     x-transition:enter-end="opacity-100 transform translate-y-0 scale-100"
                     class="bg-white p-5 rd-3xl rd-tl-none shadow-[0_10px_25px_-5px_rgba(0,0,0,0.04)] b-1 b-slate-100 text-slate-600 text-sm leading-relaxed">
                    {% load chat_tags %}
                    {{ message.text|decrypt_chat_message }}
                </div>
            </div>
        </div>
    {% endif %}
</div>

<style>
    @keyframes fadeInUp {
        from { opacity: 0; transform: translateY(12px); }
        to { opacity: 1; transform: translateY(0px); }
    }
    .chat-message{
        animation: fadeInUp 0.6s ease;
    }


    @keyframes progress {
        0% { width: 0%; }
        100% { width: 100%; }
    }

    .progress-animation {
        animation: progress 1s linear forwards;
    }

</style>