{% load static %}

<article class="card">
    <div class="flex items-center justify-between px-4 h-14">
        <h3 class="text-start leading-5 mr-1">{{ post.title|truncatechars:20 }}</h3>
        <div class="text-sm text-gray-400 truncate">
            flickr<a class="hover:underline ml-1" href="{% url 'public_profile' post.user.username %}">@{{ post.user.username }}</a>
        </div>
    </div>
    <figure>
        <a href="{% url 'post_detail' post.id %}">
            <img class="w-full" src="{{ post.image.url }}">
        </a>
    </figure>
    <div class="p-4 pb-2">
        <div class="flex items-center gap-1 mb-4" >
            <img class="w-6 h-6 object-cover rounded-full -mt-1" src="{% if post.user.profile.avatar %} {{ post.user.profile.avatar.url }} {% else %} {% static 'images/avatar_default.svg' %} {% endif %}">
            <span class="font-bold item-center justify-between">{{ post.user.profile.realname|capfirst }}</span><a class="text-gray-400 text-sm hover:underline cursor-pointer" href="{% url 'public_profile' post.user.username %}"> @{{ post.user.username }}</a>
        </div>
        <p class="text-5xl mb-10 px-4 font1">{{ post.text|truncatechars:20 }}</p>
        <div class="flex items-center gap-2 text-sm mb-3 flex-wrap">
            {% for tag in post.tag.all %}
                <a href=""
                   class="bg-gray-200 rounded-full px-3 py-1 hover:bg-gray-800 hover:text-white">{{ tag.name }}</a>
            {% empty %}
                <span class="text-gray-400">No Tags</span>
            {% endfor %}
        </div>
        <div class="flex items-center justify-between text-sm px-2">
            <a id="comment-count-{{ post.pk }}" class="font-bold text-gray-500 hover:underline" href="{% url 'post_detail' post.id %}">
                Comments {{ post.comments_count }}
                <span class="font-light">| {{ post.created_at|timesince }}</span>
            </a>
            <div class="flex items-center gap-4 [&>a:hover]:underline">
                <div class="text-center">
                    {% include 'partials/likes/post_like.html' with obj=post  %}
                </div>
                {% if user.is_authenticated and user == post.user %}
                    <a href="{% url 'update_post' post.id %}?next={{ request.path }}">Edit</a>
                    <a class="cursor-pointer select-none hover:underline" href="{% url 'delete_post' post.id %}?next={{ request.path }}">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
</article>