{% load static %}
{% if request.user.is_authenticated and request.user != obj.user %}
    <div id="comment-like-{{ obj.id }}" class="flex items-center gap-1.5 transition-all cursor-pointer select-none group">
        <a hx-get="{% url 'like' 'comment' obj.id %}"
           hx-target="#comment-like-{{ obj.id }}"
           hx-swap="outerHTML"
           class="flex items-center gap-1 px-2 py-1 rounded-md hover:bg-rose-50 text-gray-500 hover:text-rose-600 transition-all group">

            <img class="w-3.5 h-3.5 opacity-60 group-hover:opacity-100 transition-opacity -mt-1"
                 src="{% if obj.is_liked %}{% static 'images/fireheart_red.svg' %}{% else %}{% static 'images/fireheart.svg' %}{% endif %}">

            <span class="font-medium text-[11px] {% if obj.is_liked %}text-rose-600{% else %}text-gray-700{% endif %}">
            {{ obj.likes_count }}
        </span>
        </a>
    </div>
{% else %}
    {% if request.user == obj.user %}
        <div class="flex items-center gap-1 px-2 py-1 rounded-md">
            <img src="{% static 'images/fireheart.svg' %}" class="w-3.5 h-3.5 opacity-60 -mt-1">
            <span class="text-sm text-gray-400 mt-1" >{{ obj.likes_count }}</span>
        </div>
    {% else %}
        <a class="flex items-center gap-1 px-2 py-1 rounded-md hover:bg-rose-50 text-gray-500 hover:text-rose-600 transition-all group" href="{% url 'login' %}?next={{ request.path }}">
            <img
                    src="{% static 'images/fireheart.svg' %}"
                    class="w-3.5 h-3.5 opacity-60 group-hover:opacity-100 transition-opacity -mt-1 -mt-1">
            <span class="font-medium text-[11px] text-gray-700 mt-1" >{{ obj.likes_count }}</span>
        </a>
    {% endif %}

{% endif %}

