{% load static %}
{% if request.user.is_authenticated and request.user != obj.user %}
    <div id="post-like-{{ obj.id }}" class="flex items-center gap-1.5 transition-all cursor-pointer select-none group">
        <a hx-get="{% url 'like' 'post' obj.id %}"
           hx-target="#post-like-{{ obj.id }}"
           hx-swap="outerHTML"
           class="flex items-center gap-1">

            <img class="w-5 transition-transform group-hover:scale-125 duration-300 -mt-1"
                 src="{% if obj.is_liked %}{% static 'images/fireheart_red.svg' %}{% else %}{% static 'images/fireheart.svg' %}{% endif %}">

            <span class="font-bold {% if obj.is_liked %}text-rose-600{% else %}text-gray-700{% endif %}">
            {{ obj.likes_count }}
        </span>
        </a>
    </div>
{% else %}
    {% if request.user == obj.user %}
        <div class="flex items-center gap-1">
            <img src="{% static 'images/fireheart.svg' %}" class="w-6 h-6 mx-auto -mt-1">
            <span class="text-sm text-gray-700 mt-1" >{{ obj.likes_count }}</span>
        </div>
    {% else %}
        <a class="flex items-center gap-1" href="{% url 'login' %}?next={{ request.path }}">
            <img
                    src="{% static 'images/fireheart.svg' %}"
                    class="w-6 h-6 mx-auto transition-transform duration-300 -mt-1">
            <span class="text-sm text-gray-700 mt-1" >{{ obj.likes_count }}</span>
        </a>
    {% endif %}

{% endif %}

