{% load static %}

<div class="flex items-end gap-3 max-w-[80%] group">
        <img src="{% if message.sender.profile.avatar %}{{ message.sender.profile.avatar.url }}{% else %}{% static 'images/avatar_default.svg' %}{% endif %}"
             class="w-8 h-8 rounded-full object-cover shadow-sm border border-white mb-5">

        <div class="flex flex-col gap-1.5">
            <div class="bg-white px-5 py-2  rounded-[1.8rem] rounded-bl-none shadow-sm border border-slate-100">
                {% load inbox_tags %}
                <p class="text-[14px] text-slate-700  font-medium ">
                   {{ message.text|decrypt }}
                </p>
            </div>
            <span class="text-[10px] font-black text-slate-400 ml-3 mt-1 uppercase tracking-tighter">
                {{ message.created_at }} ({{ message.created_at|timesince }})
            </span>
        </div>
    </div>