<div id="message-list" _="on load or mutation of childList set my scrollTop to my scrollHeight"
     class=" overflow-y-auto py-4 space-y-8 bg-slate-50/30 [&::-webkit-scrollbar]:hidden [-ms-overflow-style:none] [scrollbar-width:none]">
  <div class="flex justify-center">
    <span class="px-5 py-1.5 bg-white border border-slate-100 rounded-full text-[10px] font-black text-slate-400 uppercase tracking-widest shadow-sm">Today</span>
  </div>
  {% for message in chats %}
    {% if request.user.id == message.sender.id %}
      {% include 'inboxes/outcome_message.html' %}
    {% else %}
      {% include 'inboxes/income_message.html' %}
    {% endif %}
  {% endfor %}
</div>