{% load static %}
<div class="flex items-end justify-end gap-3 ml-auto max-w-[80%] group">
    <div class="flex flex-col items-end gap-1.5">
        <div class="bg-violet-600 px-5 py-2 rounded-[1.8rem] rounded-br-none shadow-lg shadow-violet-600/20 text-white">
            {% load inbox_tags %}
            <p class="text-[14px] leading-relaxed font-medium">
               {{ message.text|decrypt }}
            </p>
        </div>
        <div class="flex items-center gap-1.5 mr-3 mt-1">
                <span class="text-[10px] font-black text-slate-400 uppercase tracking-tighter">
                    {{ message.created_at }} ({{ message.created_at|timesince }})
                </span>
            <svg class="w-3.5 h-3.5 text-violet-500" fill="currentColor" viewBox="0 0 20 20">
                <path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"/>
            </svg>
        </div>
    </div>
    <img src="{% if message.sender.profile.avatar %}{{ message.sender.profile.avatar.url }}{% else %}{% static 'images/avatar_default.svg' %}{% endif %}"
         class="w-8 h-8 rounded-full shadow-sm object-cover border border-white mb-5" alt="Me">
</div>