{% extends "base.html" %}
{% load static %}
{% block title %}Forgot Password{% endblock %}

{% block layout %}
<div class="min-h-screen flex items-center justify-center bg-slate-50 px-4 py-12">

    <div class="bg-white rd-[2.5rem]  shadow-xl shadow-slate-200/50 w-full max-w-md p-8 md:p-12 border border-slate-100 transition-all"
         x-data="{ isSaving : false }">

        <div class="text-center mb-8">
            <div class="inline-flex p-4 bg-slate-50 rd-2xl mb-4 text-slate-400">
                <div class="i-carbon-password w-10 h-10"></div>
            </div>
            <h1 class="text-4xl font-black text-slate-800 font-lobster mb-3">
                Forgot Password?
            </h1>
            <p class="text-slate-400 font-medium">Enter your email to reset your password</p>
        </div>

        <form method="post" @submit="isSaving = true">
            {% csrf_token %}

            <div mb-6>
                <label class="label-input">Email</label>
                <input type="email" name="email" required
                       class="input-main mt-1"
                       placeholder="Enter your Email">
            </div>

            <button type="submit" x-show="!isSaving" class="w-full btn-primary">
                <span >Continue</span>
            </button>
            <button type="submit" x-show="isSaving" class="w-full btn-disable" disabled>
                <span x-show="isSaving">Continue ...</span>
            </button>
        </form>

        <div class="mt-10 text-center">
            <p class="text-slate-500 font-medium">
                Remembered it?
                <a href="{% url 'login' %}"
                   class="text-primary hover:text-primary-dark font-black ml-1 transition-colors">Sign In</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}