{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{profile.user.username}} {% trans "'s Profile" %} | {% endblock %}

{% block layout %}
<div id="profile" class="flex flex-col items-center my-8 mx-4">

        <div class="w-full lg:w-[54rem]">
            <div class="profile-card">
                <div class="relative text-center flex flex-col items-center">
                    <div class="relative w-full flex items-center justify-center">
                        {# Avatar #}
                        <div class="flex-shrink-0">
                            {% if profile.avatar %}
                                <img src="{{ profile.avatar.url }}"
                                     class="w-32 h-32 rounded-3xl object-cover border-4 border-white shadow-2xl ring-1 ring-slate-200"
                                    alt="profile-{{profile.id}}-avatar">
                            {% else %}
                                <div class="w-32 h-32 rounded-3xl bg-indigo-500 flex items-center justify-center text-white text-4xl font-bold border-4 border-white shadow-2xl">
                                    {{ request.user.username|slice:":1"|upper }}
                                </div>
                            {% endif %}
                        </div>

                        <div hx-target="#new-message-container"
                             hx-swap="innerHTML"
                             class="absolute top-0 right-0">
                            <button hx-get="{% url 'inbox_newmessage' profile.user.id %}"
                                    _="on htmx:afterOnLoad remove .hidden from #new-message-container"
                                    class="edit-btn">
                                <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <path d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
                                          stroke-width="2"/>
                                </svg>
                            </button>
                            <div id="new-message-container"></div>
                        </div>
                    </div>
                    <div class="text-center max-w-md">
                        <h1>{{ profile.user.realname }}</h1>
                        <div class="text-gray-400 mb-2 mt-3">@{{ profile.user.username }}</div>
                        <div class="mt-2 text-sm text-gray-400">
                            "{{ profile.bio }}"
                        </div>
                        <div class="flex items-center justify-center mx-auto mt-2">
                            <img class="object-cover h-6 mr-1 opacity-60" src="https://img.icons8.com/material-outlined/50/000000/marker.png"
                                alt="location-marker-icon">
                            {{ profile.country|default:'-' }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div id="tabs" class="flex justify-center my-4 gap-2" hx-target="#tab-contents" hx-swap="innerHTML transition:true"
                 _="on htmx:afterOnLoad take .tab-selected for event.target">
                <a class="tab-btn tab-selected" hx-get="{% url 'public_profile' profile.user.username %}"> {% trans "Latest" %} </a>
                <a class="tab-btn" hx-get="{% url 'public_profile' profile.user.username %}?top-posts">{% trans "Top Posts" %}</a>
                <a class="tab-btn" hx-get="{% url 'public_profile' profile.user.username %}?top-comments">{% trans "Top Comments" %}</a>
            </div>

            <div id="tab-contents" class="w-screen transition-all duration-300 mt-8 px-4">
                {% if posts %}
                    {% include 'partials/posts/posts_container.html' %}
                {% elif display_comments %}
                    {% include 'partials/posts/comments_container.html' %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}