name: Jnestagram Testing

on:
  push:
    branches: ['master','staging','test_jarvis']
  pull_request:
    branches: ['master','staging']

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      ENVIRONMENT : development
      SECRET_KEY : "test_key_for_github_actions"
      ENCRYPT_KEY : "3-7Q2CpT7m0tpVLB7biBgWT0YVCSsTaxdRbb7vN5HsI="
      DB_URL: ''
      DEBUG: "True"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Tests
        run: |
          python manage.py test